
<div id="nav-bar" >
  <div id="nav-bar-content">
    <div id="nav-bar-left">
      <div style="font-size: 1.5em;" class="nav-bar-items">iSocial</div>
    </div>
    <div id="nav-bar-right">

      <div
      *ngIf="!loggedIn()"
      class="nav-bar-items"
      (click)="onLoginClick()">Login</div>

      <!-- Loading Spinner -->
      <div *ngIf="loading" >
        <app-spinner ></app-spinner>
      </div>

      <div
      *ngIf="loggedIn()&&userHasProfile&&getUserDocument()&&!loading"
      class="nav-bar-items"
      >Hello, {{getUsername()}}</div>

      <div
      *ngIf="loggedIn()"
      class="nav-bar-items"
      (click)="onLogoutClick()">Logout</div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
<app-profile [show]="loggedIn()&&!userHasProfile"></app-profile>
